<div class="list-group">
  <a href="#" class="list-group-item text-center">Link 1</a>
  <a href="#" class="list-group-item text-center">Link 2</a>
  <a href="#" class="list-group-item text-center">Link 3</a>
  <a href="#" class="list-group-item text-center">Link 4</a>
</div>
